{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "quoteProps": "consistent",
  "printWidth": 100,
  "bracketSameLine": true,
  "svelteBracketNewLine": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
